*.pyc
*.swp
*~
*.DS_Store
/venv
db.sqlite3
/media
sessions
geckodriver.log
doc/COMMIT_EDITMSG.COMMIT_EDITMSG
*.tar
**/node_modules
bin/*/node_modules
CACHE
*/migrations/0*
.venv
celerybeat-schedule.db
bin/telegram/.aiotdlib/
webchat/extra_settings.py
*teste.so*
.CACHE
